<!--HEADER-->
<div class="modal-header offer-{{configDesafio.classe}}">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="closeModalDesafios()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title text-center lead" id="myModalLabel" style="line-height: 1">{{desafioDetalhes.Titulo}}</h4>
</div>

<!--BODY PADRAO-->
<div class="modal-body">
    <div class="text-center">
        <label>Tags:</label>
        <br/>
        <span class="label label-default" ng-repeat="item in TagsDesafio" style="margin-left: 3px">{{item}}</span>
    </div>
    <div style="overflow: auto; overflow-x: hidden; height: 600px" class="container-fluid">
        <label> Descrição: </label>
        <p class="text-justify">{{desafioDetalhes.Descricao}}</p>
        <label> Enunciado: </label>
        <p style="text-align: justify; word-break: break-word" ng-bind-html="renderHtml(desafioDetalhes.Enunciado)"></p>
        <label> Tempo para responder o desafio: </label>
        <p class="text-justify">
            {{desafioDetalhes.Tempo == '00:00:00' ? 'Ilimitado' : desafioDetalhes.Tempo}}
        </p>
        <div ng-show="desafioDetalhes.PreCodigo != null">
            <label ng-show="desafioDetalhes.PreCodigo"> Pre-Código: </label>
            <textarea ng-model="desafioDetalhes.PreCodigo" class="form-control" rows="7" disabled></textarea>
        </div>
        <div ng-show="desafioDetalhes.Entradas != ''">
            <label>Entradas:</label>
            <textarea ng-model="desafioDetalhes.Entradas.Valor" class="form-control" rows="5" disabled></textarea>
        </div>
        <div>
            <label>Saidas:</label>
            <textarea ng-model="desafioDetalhes.Saidas.Valor" class="form-control" rows="5" disabled></textarea>
        </div>
        <br/>
        <!--Quadro de Desempenho Geral-->
        <div class="panel panel-default">
            <div class="panel-heading">Desempenho geral dos jogadores nesse desafio</div>
            <div class="panel-body">
                <div ng-show="vitorias == 0 && derrotas == 0" class="text-center">
                   <h4> Esse desafio ainda não foi comprado!</h4>
                </div>
                <div ng-show="vitorias > 0 || derrotas > 0">
                    <div class="col-sm-6 col-md-6 col-lg-6 text-center" style="border-right: 1px solid #bebebe;">
                        <span class="text-success" style="font: 32px/43px mikado_bold,Arial,sans-serif;font-weight: bold">{{vitorias}}</span>
                        <br>
                        <span style="color: #656565;font-weight: bold">Vitórias</span>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 text-center">
                        <span class="text-danger" style="font: 32px/43px mikado_bold,Arial,sans-serif;font-weight: bold">{{derrotas}}</span>
                        <br>
                        <span style="color: #656565;font-weight: bold">Derrotas</span>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                        <div class="progress" style="margin-bottom: 0px; margin-top: 5px;">
                            <div class="progress-bar progress-bar-success" style="width: {{dgVitoriasP}}%">{{dgVitoriasP}}%</div>
                            <div class="progress-bar progress-bar-danger" style="width: {{dgDerrotasP}}%">{{dgDerrotasP}}%</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!--FOOTER-->
<div style="margin-top: 10px;padding-bottom: 10px;background-color: #f5f5f5;border-top: 1px solid #ddd">
    <div class="row">
        <p class="text-center" style="margin-top: 20px"><b>Recompensas:</b></p>
        <div class="col-sm-3 col-sm-offset-3 text-center">
            <span class="fa fa-money fa-3x" style="color: green;"></span>
            <br>
            <span>{{configDesafio.recompensas.creditos}} créditos</span>
        </div>
        <div class="col-sm-3 text-center">
            <span class="fa fa-connectdevelop fa-3x" style="color: blue;"></span>
            <br>
            <span>{{configDesafio.recompensas.nivelDf}} DF</span>
        </div>
    </div>
</div>