<!--HEADER-->
<div class="modal-header offer-{{configDesafio.classe}}">
    <button class="close" type="button" ng-click="closeModalDesafios()">&times;</button>
    <h4 class="modal-title text-center lead" id="myModalLabel" style="line-height: 1">{{desafioDetalhes.Titulo}}<br>
        <span style="color: rgba(255, 255, 255, 0.83); font-size: small">por 
            <a href="index.html#!/perfil-autor/{{desafioDetalhes.Usuario.Id}}" 
            style="color: rgba(255, 255, 255, 0.83); font-weight: bold" 
            tooltip="Clique para visualizar o perfil do autor" ng-click="closeModalDesafios()">
                {{desafioDetalhes.Usuario.NomeExibicao}}
            </a>
        </span>
    </h4>
</div>

<!--BODY PADRAO-->
<div class="modal-body">
    <div class="text-center">
        <!--<span class="fa fa-star" style="color: #dae424"></span>-->
        <span class="fa fa-star" style="color: #e0e0e0"></span>
        <span class="fa fa-star" style="color: #e0e0e0"></span>
        <span class="fa fa-star" style="color: #e0e0e0"></span>
        <span class="fa fa-star" style="color: #e0e0e0"></span>
        <span class="fa fa-star" style="color: #e0e0e0"></span> (0)
        <br>
        <span class="label label-default" ng-repeat="item in TagsDesafio" style="margin-left: 3px">{{item}}</span>
    </div>

    <div style="overflow: auto; max-height: 500px; overflow-x: hidden">
        <p style="text-align: justify; word-break: break-word" ng-bind-html="renderHtml(desafioDetalhes.Enunciado)"></p>
        <hr>
        <div class="row">
            <div class="col-sm-4 col-md-4 text-center">
                <p><b>Valor do desafio:</b></p>
                <div class="col-sm-12 col-md-12">
                    <span class="fa fa-money" style="color: green; font-size: 5em"></span><br>
                    <span style="font-size: large">{{configDesafio.requisitos.creditosCobrados}} créditos</span>
                </div>
            </div>
            <div class="col-sm-8 col-md-8 text-center">
                <p><b>Recompensas:</b></p>
                <div class="col-sm-6 col-md-6">
                    <span class="fa fa-money" style="color: green; font-size: 5em"></span><br>
                    <span style="font-size: large">{{configDesafio.recompensas.creditos}} créditos</span>
                </div>
                <div class="col-sm-6 col-md-6">
                    <span class="fa fa-connectdevelop" style="color: blue; font-size: 5em"></span><br>
                    <span style="font-size: large">{{configDesafio.recompensas.nivelDf}} DF</span>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!--FOOTER-->
<div class="modal-footer" style="background-color: #f5f5f5">
    <div class="row" style="padding: 0; margin: 0" ng-show="!compra && !comprado">
        <div class="pull-left">
            <button type="button" class="btn btn-success" style="margin-left: 35px" ng-click="compra=true">Comprar Desafio</button>
        </div>
        <div class="pull-right" style="margin-right: 30px">
            <button type="button" class="btn btn-success" disabled style="margin-left: 40px" tooltip="Aposta mínima: 50 créditos">Duelar Desafio</button>
        </div>
    </div>
    <div class="row" style="margin-top: 10px" ng-show="compra && !comprado">
        <div class="text-center">
            <p>Tem certeza da compra desse desafio por:
                <span class="fa fa-money" style="color: green"></span> {{configDesafio.requisitos.creditosCobrados}} créditos
            </p>
            <button class="btn btn-danger" ng-click="compra=false">Não</button>
            <button class="btn btn-success" ng-click="comprarDesafio(desafioDetalhes)">Sim</button>
        </div>
    </div>
</div>