<link rel="stylesheet" href="assets/css/style.css">
<style>
    .form-group {
        margin-bottom: 0;
    }
    
    body {
        background-color: #FFFFFF;
    }
    
    .img-avatar {
        width: 100px;
        height: 100px;
        margin: 5px;
        cursor: pointer;
    }
</style>
<div class="container">
    <section class="form-cadastro">
        <div id="notificacoes" class="text-center"></div>
        <form name="formCadastro">
            <h1 class="text-center"><span class="fa fa-codepen"></span> CodeLive </h1><br/>
            <div class="panel panel-default" ng-show="avatares.length > 0">
                <div class="panel-heading text-center">Selecione seu avatar</div>
                <div class="panel-body text-center">
                    <label ng-repeat="avatar in avatares">
						<img ng-src="{{avatar.Endereco}}" alt="img-avatar" class="img-circle img-avatar">
						<input type="radio" ng-model="usuario.IdImagem" name="imagemAvatar" value="{{avatar.Id}}" style="box-shadow: none">
					</label>
                </div>
            </div>
            <div class="form-group" ng-class="{'selecionado has-error': formCadastro.Nome.$invalid  && formCadastro.$dirty}">
                <p ng-show="formCadastro.Nome.$invalid  && formCadastro.$dirty" style="color: #a94442">
                    Preencha o campo <strong>Nome</strong>
                </p>
                <input type="text" ng-model="usuario.Nome" placeholder="Digite seu nome completo" name="Nome" ng-required="true" class="form-control">
            </div>
            <div class="form-group" ng-class="{'selecionado has-error': formCadastro.Email.$invalid  && formCadastro.$dirty}">
                <p ng-show="formCadastro.Email.$invalid  && formCadastro.$dirty" style="color: #a94442">
                    Preencha o campo <strong>Email</strong>
                </p>
                <input type="email" ng-model="usuario.Email" placeholder="Digite seu email" name="Email" ng-required="true" class="form-control">
            </div>
            <div class="form-group" ng-class="{'selecionado has-error': formCadastro.NomeExibicao.$invalid  && formCadastro.$dirty}">
                <p ng-show="formCadastro.NomeExibicao.$invalid  && formCadastro.$dirty" style="color: #a94442">
                    Preencha o campo <strong>Nome de Exibição</strong>
                </p>
                <input type="text" ng-model="usuario.NomeExibicao" placeholder="Digite seu nome de exibição (ex: anakin skywalker)" name="NomeExibicao" ng-required="true" class="form-control">
            </div>
            <div class="form-group" ng-class="{'selecionado has-error': formCadastro.Senha.$invalid  && formCadastro.$dirty}">
                <p ng-show="formCadastro.Senha.$invalid  && formCadastro.$dirty" style="color: #a94442">
                    Preencha o campo <strong>Senha</strong>
                </p>
                <input type="password" ng-model="usuario.Senha" placeholder="Digite sua senha" name="Senha" ng-required="true" ng-minlength="6" class="form-control">
            </div>
            <div class="form-group" ng-class="{'selecionado has-error': formCadastro.SenhaConfirmacao.$invalid  && formCadastro.$dirty}">
                <p ng-show="formCadastro.SenhaConfirmacao.$invalid  && formCadastro.$dirty" style="color: #a94442">
                    Preencha o campo <strong>Confirmação de Senha</strong>
                </p>
                <input type="password" ng-model="usuario.SenhaConfirmacao" placeholder="Confirme sua senha" name="SenhaConfirmacao" ng-required="true" ng-minlength="6" class="form-control">
            </div>
            <div style="text-align: center">
                <button ng-click="cadastrar(usuario)" class="btn btn-primary" data-analytics="sign-in" type="">
					Cadastrar
				</button>
                <a class="btn btn-default" href="index.html#!/login">Cancelar</a>
            </div>
        </form>
    </section>
</div>