<div ng-include="'views/templates/menu.html'"></div>
<div class="container">
    <div class="row">
        <div ng-include="'views/templates/infosUsuario.html'"></div>
    </div>
    <hr>
    <table class="table table-bordered" ng-show="desafios.length > 0">
        <thead>
            <tr class="active">
                <th class="text-center">Titulo</th>
                <th class="text-center">Descrição</th>
                <th class="text-center">Dificuldade</th>
                <th class="text-center">Autor</th>
                <th class="text-center">
                    <span class="fa fa-gear"></span> Gerenciamento
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="desafio in desafios" class="text-center">
                <td> {{desafio.Titulo}}</td>
                <td> {{desafio.Descricao | ellipsis: 30}}</td>
                <td> Nível {{desafio.Dificuldade}}</td>
                <td> {{desafio.Usuario.NomeExibicao}}</td>
                <td style="width: 150px">
                    <a href="#!/detalhes-desafio-comprado/{{desafio.IdDesafio}}">
                        <span class="fa fa-search-plus" tooltip="Ver detalhes"></span>
                    </a>
                    |
                    <a href="#!/treino-com-o-desafio/{{desafio.IdDesafio}}">
                        <span class="fa fa-terminal" tooltip="Treinar com este desafio"></span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="alert alert-info" ng-show="desafios.length == 0">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
        <p class="text-center">Você não comprou nenhum desafio!</p>
    </div>
</div>