<div ng-include="'views/templates/menu.html'"></div>
<div class="container">
    <div class="row">
        <div ng-include="'views/templates/infosUsuario.html'"></div>
    </div>
    <hr>

    <div class="row">
        <div class="col-md-6 text-center">
            <h3> Autor do desafio:</h3>
            <img ng-src="{{desafio.Usuario.Endereco}}" width="90" height="90" style="margin-top: 15px;" class="img-avatar">
            <p>{{desafio.Usuario.NomeExibicao}}
                <br> {{desafio.Usuario.Classe}} (Nível {{desafio.Usuario.Nivel}})
            </p>
        </div>
        <div class="col-md-6">
            <h3> Estatística:</h3>
            <div class="panel panel-default">
                <div class="panel-heading">Nº de vitórias e derrotas nesse desafio</div>
                <div class="panel-body">
                    <div class="col-sm-6 col-md-6 col-lg-6 text-center" style="border-right: 1px solid #bebebe;">
                        <span class="text-success" style="font: 32px/43px mikado_bold,Arial,sans-serif;font-weight: bold">{{vitorias}}</span>
                        <br>
                        <span style="color: #656565;font-weight: bold">Vitórias</span>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 text-center">
                        <span class="text-danger" style="font: 32px/43px mikado_bold,Arial,sans-serif;font-weight: bold">{{derrotas}}</span>
                        <br>
                        <span style="color: #656565;font-weight: bold">Derrotas</span>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                        <div class="progress" style="margin-bottom: 0px; margin-top: 5px;">
                            <div class="progress-bar progress-bar-success" style="width: {{dgVitoriasP}}%">{{dgVitoriasP}}%</div>
                            <div class="progress-bar progress-bar-danger" style="width: {{dgDerrotasP}}%">{{dgDerrotasP}}%</div>
                        </div>
                    </div>
                </div>
                <div class="primary panel-footer" style="padding: 5px 0px 5px 15px">
                    Nº de participações nesse desafio: <b>{{totalParticipacao}}x</b>
                </div>
            </div>
        </div>
    </div>
    <hr>

    <h3> Descrição: </h3>
    <p class="text-justify">{{desafio.Descricao}}</p>
    <hr>

    <h3> Enunciado: </h3>
    <p style="text-align: justify; word-break: break-word" ng-bind-html="renderHtml(desafio.Enunciado)"></p>
    <hr>

    <h3> Tempo para responder o desafio: </h3>
    <p class="text-justify">
        {{desafio.Tempo == '00:00:00' ? 'Ilimitado' : desafio.Tempo}}
    </p>
    <hr>

    <div ng-show="desafio.PreCodigo">
        <h3> Pré-código: </h3>
        <p class="text-justify">
            <textarea ng-model="desafio.PreCodigo" class="form-control" rows="10" disabled style="resize: vertical"></textarea>
        </p>
        <hr>
    </div>

    <h3> Respostas: </h3>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default" ng-repeat="resposta in desafio.Historico | orderBy: '-DataResposta'">
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">
                    <a href="javascript:;" data-toggle="collapse" data-parent="#accordion" data-target="#panel-{{$index}}">
                        {{$index + 1}}ª Resposta
                    </a>
                </h4>
            </div>
            <div id="panel-{{$index}}" class="panel-collapse collapse {{$first? 'in' : ''}}">
                <div class="panel-body">
                    <label> Data da resposta:</label> {{resposta.DataResposta | date: 'dd/MM/yyyy'}} às {{resposta.DataResposta
                    | date: 'hh:mm' }} <br>
                    <label> Resposta correta: </label> {{resposta.DesafioVencido? 'sim':'não'}} <br>
                    <textarea ng-model="resposta.Resposta" class="form-control" rows="15" style="resize: vertical"></textarea>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="desafio.RespostasTreino.length > 0">
        <h3> Respostas dos treinos: </h3>
        <div class="panel-group" id="accordionTreino" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default" ng-repeat="resposta in desafio.RespostasTreino | orderBy: '-DataResposta'">
                <div class="panel-heading" role="tab">
                    <h4 class="panel-title">
                        <a href="javascript:;" data-toggle="collapse" data-parent="#accordionTreino" data-target="#panel-treino-{{$index}}">
                        {{$index + 1}}ª Resposta
                    </a>
                    </h4>
                </div>
                <div id="panel-treino-{{$index}}" class="panel-collapse collapse {{$first? 'in' : ''}}">
                    <div class="panel-body">
                        <label> Data do treino:</label> {{resposta.DataResposta | date: 'dd/MM/yyyy'}} às {{resposta.DataResposta
                        | date: 'hh:mm' }} <br>
                        <textarea ng-model="resposta.Resposta" class="form-control" rows="15" style="resize: vertical"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#!/desafios-comprados" class="btn btn-default"><span class="fa fa-chevron-left"></span> Voltar</a>
    <br><br>
</div>