<div ng-include="'views/templates/menu.html'"></div>
<div class="container">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<div class="info-perfil" style="border-radius: 6px">
			<div style="position:relative; top:0px; left:0px" class="img-responsive">
				<div style="position:absolute; top:280px; left:6px; background-color: #fff" class="border" tooltip="click para mudar a foto do perfil"
					tooltip-placement="bottom">
					<a href="" data-toggle="modal" data-target="#modalFoto">
						<img ng-src="{{usuarioLogado.Endereco}}" class="img img-circle" width="168" height="166">
					</a>
				</div>
			</div>
			<div class="col-xs-6 col-sm-8 col-md-8 pull-right" style="margin-top:5px; margin-left:5px">
				<h2 class="text-align: center">{{usuarioLogado.NomeExibicao}}</h2>
				<p style="color: gray">{{usuarioLogado.Email}}
					<br/> {{usuarioLogado.Nome}}
				</p>
				<div class="btn-group">
					<button class="btn btn-primary" data-toggle="modal" data-target="#modalDados">
						<span class="fa fa-edit"></span> Editar dados							
					</button>
					<button class="btn btn-primary" data-toggle="modal" data-target="#modalSenha"> 
						<span class="fa fa-lock"></span> Alterar Senha
					</button>
					<a href="#!/perfil" class="btn btn-primary" tooltip="Voltar para perfil" tooltip-placement="top">
						<span class="fa fa-user"></span> Perfil
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-2"></div>
</div>

<!-- Modal Alterar Dados-->
<div class="modal fade" id="modalDados" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" style="text-align: center">Editar informações</h4>
			</div>
			<form class="form-horizontal">
				<div class="modal-body">
					<div class="form-group">
						<label for="nome" class="col-sm-2 control-label">Nome</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" id="nome" placeholder="Digite seu nome completo" ng-model="usuarioLogado.Nome" ng-required="true">
						</div>
					</div>
					<div class="form-group">
						<label for="email" class="col-sm-2 control-label">Email</label>
						<div class="col-sm-8">
							<input type="email" class="form-control" id="email" placeholder="Digite seu email" ng-model="usuarioLogado.Email" ng-required="true">
						</div>
					</div>
					<div class="form-group">
						<label for="nome" class="col-sm-2 control-label">Nome de exibição</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" id="nomeExibicao" placeholder="Digite o nome de exibição" ng-model="usuarioLogado.NomeExibicao" ng-required="true">
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-primary" ng-click="updateUsuario(usuarioLogado)" ng-disabled="!usuarioLogado.Nome || !usuarioLogado.Email">Salvar</button>
				</div>
			</form>
		</div>
	</div>
</div>

<!-- Modal Alterar Senha-->
<div class="modal fade" id="modalSenha" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" style="text-align: center">Alterar Senha</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal">
					<div class="form-group">
						<label for="Senha" class="col-sm-3 control-label">Nova senha</label>
						<div class="col-sm-7">
							<input type="password" class="form-control" id="Senha" ng-model="usuarioLogado.NovaSenha" placeholder="Nova senha" ng-required="true">
						</div>
					</div>
					<div class="form-group">
						<label for="SenhaConfirmacao" class="col-sm-3 control-label">Confirmar senha</label>
						<div class="col-sm-7">
							<input type="password" class="form-control" id="SenhaConfirmacao" ng-model="usuarioLogado.SenhaConfirmacao" placeholder="Confirma senha"
								ng-required="true">
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
				<button type="button" class="btn btn-primary" ng-click="updateSenhaUsuario(usuarioLogado)">Salvar</button>
			</div>
		</div>
	</div>
</div>

<!-- Modal Alterar Foto do Perfil-->
<div class="modal fade" id="modalFoto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content" style="padding: 0; margin: 0; border: 0;">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" style="text-align: center">Alterar Foto do Perfil</h4>
			</div>
			<form>
				<div class="modal-body">
					<div style="text-align: center">
						<div class="fileinput fileinput-new" data-provides="fileinput">
							<div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 350px; height: 330px;"></div>
							<div style="margin-left: 5px">
								<span class="btn btn-info btn-file"><span class="fileinput-new"><span class="fa fa-picture-o"></span> Selecione uma
								imagem
								</span><span class="fileinput-exists"><span class="fa fa-refresh"></span> Mudar</span>
								<input type="file" name="arquivo" file-model="arquivo">
								</span>
								<a href="" class="btn btn-danger fileinput-exists" data-dismiss="fileinput"><span class="fa fa-remove"></span> Remover</a>
								<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
								<button type="button" class="btn btn-primary" ng-click="uploadFile()">Salvar</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>