<style>
	.hover-icon:hover {
		color: #000000;
	}
	
	.hover-icon {
		color: #ffffff;
	}
</style>
<div ng-include="'views/templates/menu.html'"></div>
<div class="container">
	<div class="row">
		<div ng-include="'views/templates/infosUsuario.html'"></div>
	</div>
	<hr/>
	<div class="row" ng-show="desafios.length > 0">
		<div class="col-md-4">
			<div class="form-group">
				<div class="input-group">
					<input type="text" class="form-control" ng-model="search" placeholder="Digite o título do desafio para buscar.">
					<div class="input-group-addon">
						<span class="fa fa-search"></span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<table class="table table-bordered table-hover text-center" ng-show="desafios.length > 0">
		<thead>
			<tr class="active">
				<th class="text-center">Id</th>
				<th class="text-center">Titulo</th>
				<th class="text-center">Descrição</th>
				<th class="text-center">Dificuldade</th>
				<th class="text-center">Publicado?</th>
				<th class="text-center">Data de Cadastro</th>
				<th class="text-center"><span class="fa fa-gear"></span> Gerenciar</th>
			</tr>
		</thead>
		<tbody id="tbDesafios">
			<tr ng-repeat="item in res = (desafios | filter:search  | orderBy:'Titulo')">
				<td class="offer-{{item.Config.classe}}">{{item.Id}}</td>
				<td class="offer-{{item.Config.classe}}">{{item.Titulo}}</td>
				<td class="offer-{{item.Config.classe}}">{{item.Descricao | ellipsis: 30}}</td>
				<td class="offer-{{item.Config.classe}}">Nível {{item.Dificuldade}}</td>
				<td class="offer-{{item.Config.classe}}">{{item.Publicado == 0 ? 'não' : 'sim'}}</td>
				<td class="offer-{{item.Config.classe}}">
					{{item.DataCadastro | date: 'dd/MM/yyyy'}} às {{item.DataCadastro | date: 'HH:mm'}}
				</td>
				<td class="offer-{{item.Config.classe}}">
					<!--<a href="" ng-click="editarDesafio(item.Id)" ng-show="item.Publicado == 0" tooltip="editar desafio"><span class="hover-icon fa fa-edit"></span></a>-->
					<a href="#!/editar-desafio/{{item.Id}}" ng-show="item.Publicado == 0" tooltip="editar desafio"><span class="hover-icon fa fa-edit"></span></a>
					<span ng-show="item.Publicado == 0"> | </span>

					<a href="" ng-hide="item.Publicado == 1" ng-click="publicarDesafio(item)" tooltip="publicar desafio"><span class="hover-icon fa fa-tv"></span></a>
					<span ng-show="item.Publicado == 0"> | </span>

					<a href="" ng-click="detalhesDesafio('lg',item)" tooltip="ver detalhes do desafio"><span class="hover-icon fa fa-search-plus"></span></a>
					<span ng-show="item.Publicado == 1"> | </span>

					<a href="" ng-show="item.Publicado == 1" ng-click="desativarDesafio(item)" tooltip="desativar desafio"><span class="hover-icon fa fa-close"></span></a>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="container">
	<div class="alert alert-info" ng-show="desafios.length == 0">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
		<p class="text-center">Você não possui nenhum desafio cadastrado!</p>
	</div>
	<div class="alert alert-info" ng-show="res.length == 0 && desafios.length > 0">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
		<p class="text-center">Nenhum desafio encontrado!</p>
	</div>
</div>