<div ng-include="'views/templates/menu.html'"></div>
<div class="container">
    <div class="row">
        <div ng-include="'views/templates/infosAutor.html'"></div>
    </div>
    <hr>

    <!--Quadro de Evolução-->
    <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="panel panel-default" style="min-height: 160px">
            <div class="panel-heading">{{autor.Classe}} (Nível {{autor.Nivel}})</div>
            <div class="panel-body">
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <img ng-src="assets/img/Star-Wars-The-Old-Republic-5-icon.png" width="50">
                </div>
                <div ng-show="progressoEvo != 'mc'">
                    <div class="col-sm-10 col-md-10 col-lg-10 text-center">
                        <small>
						Você precisa de mais {{dfParaEvoluir.dfEvo}} DF para chegar a <b>
						{{dfParaEvoluir.classeEvo}} (Nível {{dfParaEvoluir.nivelEvo}})</b>
					</small>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                        <small><b>Progresso</b></small>
                        <div class="progress" style="margin-bottom: 0px">
                            <div class="progress-bar progress-bar-info" style="width: {{progressoEvo}}%">{{progressoEvo}}%</div>
                        </div>
                    </div>
                </div>
                <div ng-show="progressoEvo == 'mc'" class="col-md-10" style="margin-top: 10px">
                    <p class="text-center"><b>{{autor.NomeExibicao}} atingiu a classe máxima!</b></p>
                    <div class="progress" style="margin-bottom: 0px">
                        <div class="progress-bar progress-bar-info" style="width: 100%">100%</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Quadro de Desempenho Geral-->
    <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Desempenho Geral</div>
            <div class="panel-body">
                <div class="col-sm-6 col-md-6 col-lg-6 text-center" style="border-right: 1px solid #bebebe;">
                    <span class="text-success" style="font: 32px/43px mikado_bold,Arial,sans-serif;font-weight: bold">{{dgVitorias}}</span>
                    <br>
                    <span style="color: #656565;font-weight: bold">Vitórias</span>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 text-center">
                    <span class="text-danger" style="font: 32px/43px mikado_bold,Arial,sans-serif;font-weight: bold">{{dgDerrotas}}</span>
                    <br>
                    <span style="color: #656565;font-weight: bold">Derrotas</span>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                    <div class="progress" style="margin-bottom: 0px; margin-top: 5px;">
                        <div class="progress-bar progress-bar-success" style="width: {{dgVitoriasP}}%">{{dgVitoriasP}}%</div>
                        <div class="progress-bar progress-bar-danger" style="width: {{dgDerrotasP}}%">{{dgDerrotasP}}%</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Quadro de Desempenho por Nível de Dificuldade-->
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Desempenho por Nível de Dificuldade</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-3 col-md-3 text-center" style="border-right: 1px solid #bebebe;">
                        <small class="text-success"><b>Fundamentos da Força</b></small>
                        <br>
                        <img ng-src="assets/img/Star-Wars-The-Old-Republic-5-icon.png" style="width: 50px">
                        <br>
                        <span class="text-success" style="font: 32px/43px mikado_bold,Arial,sans-serif;font-weight: bold">{{dnf1P}}%</span>
                        <br>
                        <small style="color: #656565;font-weight: bold">{{dnf1}} Vitórias</small>
                        <br>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3 text-center" style="border-right: 1px solid #bebebe;">
                        <small class="text-primary"><b>Treinando com o Sabre de Luz</b></small>
                        <br>
                        <img ng-src="assets/img/Star-Wars-The-Old-Republic-5-icon.png" style="width: 50px">
                        <br>
                        <span class="text-primary" style="font: 32px/43px mikado_bold,Arial,sans-serif;font-weight: bold">{{dnf2P}}%</span>
                        <br>
                        <small style="color: #656565;font-weight: bold">{{dnf2}} Vitórias</small>
                        <br>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3 text-center" style="border-right: 1px solid #bebebe;">
                        <small class="text-warning"><b>Dominando a Força</b></small>
                        <br>                    
                        <img ng-src="assets/img/Star-Wars-The-Old-Republic-5-icon.png" style="width: 50px">
                        <br>
                        <span class="text-warning" style="font: 32px/43px mikado_bold,Arial,sans-serif;font-weight: bold">{{dnf3P}}%</span>
                        <br>
                        <small style="color: #656565;font-weight: bold">{{dnf3}} Vitórias</small>
                        <br>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3 text-center">
                        <small style="color: #B65CB8;"><b>Controlando Mentes</b></small>                      
                        <br>
                        <img ng-src="assets/img/Star-Wars-The-Old-Republic-5-icon.png" style="width: 50px">
                        <br>
                        <span style="font: 32px/43px mikado_bold,Arial,sans-serif;font-weight: bold;color: #B65CB8;">{{dnf4P}}%</span>
                        <br>
                        <small style="color: #656565;font-weight: bold">{{dnf4}} Vitórias</small>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Quadro de Conquistas-->
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Conquistas</div>
            <div class="panel-body text-center">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="conquista in conquistasAutor">
                    <img ng-src="{{conquista.Simbolo}}" width="50" ng-class="!conquista.Possui? 'img-conquista':''">
                    <br>
                    <small style="font-weight: bold" ng-class="!conquista.Possui? 'img-conquista':''">{{conquista.Nome}}</small>
                </div>
            </div>
        </div>
    </div>
</div>