<div ng-include="'views/templates/menu.html'"></div>
<link rel="stylesheet" href="assets/css/clock.css">
<div class="container-fluid">
    <div class="col-xs-6 col-sm-6 col-md-6  pull-left" style="padding-left: 0">
        <div class="form-inline" style="margin: 10px 0px;">
            <div class="input-group">
                <span class="input-group-btn">
				    <button ng-click="enunciado = false" ng-show="enunciado" class="btn" tooltip="Expandir editor" tooltip-placement="right"><span class="fa fa-plus"></span></button>
                <button ng-click="enunciado = true" ng-show="!enunciado" class="btn" tooltip="Minimizar editor" tooltip-placement="right"><span class="fa fa-minus"></span></button>
                </span>
                <select class="form-control" id="temasEditor" tooltip="Tema do editor" tooltip-placement="right"> </select>
            </div>
            <div class="btn-group" ng-show="!enunciado">
                <button class="btn btn-info" ng-click="executarCodigo(); saida = true;" tooltip="Executar código" tooltip-placement="right">
                    <span class="fa fa-play"></span> Executar
                </button>
                <button class="btn btn-primary" ng-click="saida = false; resposta = ''" tooltip="Limpar o editar" tooltip-placement="right">
                    <span class="fa fa-eraser"></span> Limpar
                </button>
                <button class="btn btn-success" ng-click="" tooltip="Salvar código" tooltip-placement="right">
                    <span class="fa fa-save"></span> Salvar 
                </button>
                <a href="index.html#/desafios-comprados" class="btn btn-default" ng-click="" tooltip="Voltar para os Desafios comprados"
                    tooltip-placement="right">
                    <span class="fa fa-chevron-left"></span> Voltar
                </a>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 pull-rigth">
        <a href="" class="navbar-right hvr-grow" style="margin: 12px 0 0 10px" data-toggle="modal" data-target="#modalInfoDesafio"
            tooltip="Dicas do desafio">
            <img ng-src="assets/img/info-icon.png" width="30">
        </a>
        <timer interval="1000">
            <ul class="timer navbar-text navbar-right" style="margin: 10px 0 0 0" tooltip="Tempo para responder o desafio">
                <li><span class="glyphicon glyphicon-time" style="font-size: 18pt;"></span> </li>
                <li id="hours">{{hours}}</li>
                <li id="point1">:</li>
                <li id="min">{{minutes}}</li>
                <li id="point2">:</li>
                <li id="sec">{{seconds}}</li>
            </ul><br>
        </timer>
    </div>
</div>
<section name="descricao">
    <div id="conteudo" class="col-md-4 well" ng-show="enunciado">
        <div class="row">
            <div class="col-xs-2 col-sm-2 col-md-2 pull-left" style="padding-right: 0;">
                <div class="text-center">
                    <b>Autor:</b>
                    <img ng-src="{{desafio.Usuario.Endereco}}" style="margin-top: 5px" width="70" height="70" class="img-avatar">
                    <h5>{{desafio.Usuario.NomeExibicao}}<br>
                        <small>{{desafio.Usuario.Classe}} (Nível {{desafio.Usuario.Nivel}})</small></h5>
                </div>
                <div class="text-center">
                    <p><strong>Recompensas:</strong></p>
                    <span class="fa fa-money fa-3x" style="color: green"></span>
                    <br/>
                    <span style="font-size: 14px; font-weight: bold">1 crédito</span>

                    <span class="fa fa-connectdevelop fa-3x" style="color: blue; margin-top: 15px"></span>
                    <br/>
                    <span style="font-size: 14px; font-weight: bold">0 DF</span>
                </div>
            </div>
            <div class="col-xs-10 col-sm-10 col-md-10 pull-right" style="margin-left: -40px">
                <span class="glyphicon glyphicon-triangle-left" style="color: white; font-size: 50px; float: left; margin-top: 10px"></span>
                <div class="quadro-descricao">
                    <div class="texto-descricao">
                        <p ng-bind-html="renderHtml(desafio.Enunciado)"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center" style="position: absolute; bottom: 0; margin-left: 90px;">
            <div class="btn-group" style="margin-bottom: 10px;">
                <button class="btn btn-info" ng-click="executarCodigo(); saida = true;" tooltip="Executar código" tooltip-placement="top">
                    <span class="fa fa-play"></span> Executar
                </button>
                <button class="btn btn-primary" ng-click="saida = false; resposta = ''" tooltip="Limpar o editar" tooltip-placement="top">
                    <span class="fa fa-eraser"></span> Limpar
                </button>
                <button class="btn btn-success" ng-click="salvarCodigo(desafio);" tooltip="Salvar código" tooltip-placement="right">
                    <span class="fa fa-save"></span> Salvar 
                </button>
                <a href="index.html#/desafios-comprados" class="btn btn-default" ng-click="" tooltip="Voltar para os Desafios comprados"
                    tooltip-placement="right">
                    <span class="fa fa-chevron-left"></span> Voltar
                </a>
            </div>
        </div>
    </div>
    <div ng-class="{'col-md-12': !enunciado, 'col-md-8': enunciado}" style="padding: 0; margin: 0; border: 0">
        <ui-codemirror ui-codemirror ui-codemirror-opts="editorOptions" ui-refresh ng-model="resposta" id="editor"></ui-codemirror>
        <div style="margin-left: 15px;">
            <pre id="output" ng-show="saida"></pre>
        </div>
    </div>
</section>

<div class="modal fade" tabindex="-1" role="dialog" id="modalInfoDesafio">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="border-radius: 6px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center">Modo de escrever o código</h4>
            </div>
            <div class="modal-body">
                <ul>
                    <li>
                        <h4>Entrada</h4>
                        <ul>
                            <li>
                                <p>
                                    As entradas são feitas a través da função <b>input()</b> para que o usuário possa inserir
                                    o valor desejado no momento da execução do código. <br>
                                    <b>Ex:</b> <br>
                                    <code>
                                        x = input() 
                                    </code>
                                </p>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h4>Saida</h4>
                        <ul>
                            <li>
                                <p>Para exibir os resultados, ou seja a saída, o usuário deve utilizar a função <b>print</b>.
                                    <br>
                                    <b>Ex:</b> <br>
                                    <code>
                                        print("este é um exemplo de saída")
                                    </code>
                                </p>
                                <p>As saídas devem ser exibidas separadamente, ou seja para cada saída o usuário deve utilizar
                                    um método um<b> print </b>. <br>
                                    <b>Ex:</b> <br>
                                    <i> Modo correto:</i> <br>
                                    <code>
                                         print("saida 1") <br>
                                         print("saida 2")
                                    </code>
                                    <br>
                                    <i> Modo incorreto:</i> <br>
                                    <code>
                                         print("saida 1", "saida 2")
                                    </code>
                                </p>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <b>*Obs.:</b> Outros métodos de entrada/saida não são aceitos.<br>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>