<div class="col-xs-3 col-sm-2 col-md-2 col-lg-1">
	<img ng-src="{{usuarioLogado.Endereco}}" width="90" height="90" style="margin-top: 15px;" class="img-avatar">
</div>
<div class="col-lg-8 col-sm-7 col-md-6 col-xs-6">
	<h3>{{usuarioLogado.NomeExibicao}}<br>
		<small>
       		{{usuarioLogado.Classe}} (Nível {{usuarioLogado.Nivel}})                       
    	</small>
	</h3>
	<span>
		<a href="#!/editar-perfil" class="btn btn-primary btn-xs" tooltip="Editar meus dados">
			<span class="fa fa-edit"></span> Editar
		</a>
	</span>
	<span>
		<a href="#!/gerenciar-meus-desafios" class="btn btn-default btn-xs" tooltip="Gerenciar os meus desafios">
			<span class="fa fa-connectdevelop"></span> Meus desafios
		</a>
	</span>
	<span>
		<a href="#!/perfil" class="btn btn-primary btn-xs" tooltip="Ver o meu perfil">
			<span class="fa fa-user"></span> Perfil
		</a>
	</span>
	<span>
		<a href="#!/desafios-comprados" class="btn btn-info btn-xs" tooltip="Ver os desafios que você comprou">
			<span class="fa fa-connectdevelop"></span> Desafios comprados
		</a>
	</span>
</div>
<div class="col-xs-1 col-sm-1 col-md-1 col-lg-2"></div>