<div class="col-xs-3 col-sm-2 col-md-2 col-lg-1">
	<img ng-src="{{autor.Endereco}}" width="90" height="90" style="margin-top: 15px;" class="img-avatar">
</div>
<div class="col-lg-8 col-sm-6 col-md-6 col-xs-6">
	<h3>{{autor.NomeExibicao}}<br>
		<small>
        {{autor.Classe}} (Nível {{autor.Nivel}})                       
    </small>
	</h3>
	<span>
    <a href="#!/desafios" class="btn btn-primary btn-xs" tooltip="Voltar a página de desafios">
        <span class="fa fa-connectdevelop"></span> Desafios
	</a>
	</span>
	<span>
    <a href="#!/perfil" class="btn btn-primary btn-xs" tooltip="Ir para o meu perfil">
        <span class="fa fa-user"></span> Meu perfil
	</a>
	</span>
</div>
<div class="col-xs-1 col-sm-1 col-md-1 col-lg-2"></div>