<nav class="navbar navbar-inverse" style="border-radius: 0px; margin-bottom: 0px" ng-controller="MenuCtrl">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menuPrincipal">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="" data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="body" tooltip="Ver menu" tooltip-placement="bottom">
                <span class="fa fa-codepen"></span> ADMINISTRATIVO
            </a>
        </div>

        <div class="collapse navbar-collapse" id="menuPrincipal">
            <div class="navbar-right">
                <div class="col-xs-1 col-sm-1 col-md-1" style="margin-right: 20px">
                    <img ng-src="{{usuarioLogado.Endereco}}" width="45" height="45" class="img-avatar">
                </div>
                <div class="col-xs-5 col-sm-7 col-md-7" style="margin-top: 5px;">
                    <a href="#!/perfil" class="navbar-link" tooltip-placement="bottom">{{usuarioLogado.NomeExibicao}}</a>
                    <br/>
                    <span style="color: #9d9d9d;">Administrador (Buscar do Banco)</span>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 hidden-xs">
                    <a href="index.html#!/perfil" class="btn btn-sair" tooltip="Voltar para CodeLive" tooltip-placement="left">
                        <span class="fa fa-3x fa-gamepad"></span>
                    </a>
                </div>
                <div class="col-md-1 pull-right visible-xs">
                    <a href="index.html#!/perfil" class="btn btn-sair" tooltip="Voltar para CodeLive" tooltip-placement="left">
                        <span class="fa fa-3x fa-gamepad"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>