<style>
    .img-medalha {
        margin-top: 5px;
        padding-right: 3px;
    }
    
    .valor-posicao {
        font: 32px/43px mikado_bold, Arial, sans-serif;
        font-weight: bold;
        color: #656565;
        margin-left: 5px;
    }
</style>

<ul class="list-group">
    <li class="list-group-item active">Ranking</li>
    <li ng-class="{'animated fadeIn': update}" class="list-group-item" ng-repeat="usuario in rankingUsuarios | orderBy:'-NivelDf' | limitTo: 5" id="listaRanking">
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="margin: 0; padding: 0">
            <img ng-src="assets/img/medalha1.jpg" width="50" ng-show="$index + 1 == 1" class="img-medalha" />
            <img ng-src="assets/img/medalha2.jpg" width="50" ng-show="$index + 1 == 2" class="img-medalha" />
            <img ng-src="assets/img/medalha3.jpg" width="50" ng-show="$index + 1 == 3" class="img-medalha" />
            <div style="margin-bottom: 10px"></div>
            <span class="valor-posicao" ng-show="$index + 1 > 3">
                    {{$index + 1}}º
                </span>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
            <img ng-src="{{usuario.Endereco}}" class="img-circle img-avatar" width="50" height="50">
        </div>
        <div class="container-fluid" style="padding-left: 125px">
            <h4>
                <a href="index.html#!/perfil-autor/{{usuario.Id}}">
                {{usuario.NomeExibicao}}</a>
                <label class="pull-right label label-success" ng-show="usuario.Id == usuarioLogado.Id" style="margin-top: 10px">
                        Você
                </label><br/>
                <small>{{usuario.Classe}} (Nível {{usuario.Nivel}}) - <span class="fa fa-connectdevelop"></span> {{usuario.NivelDf}} DF</small>
            </h4>
        </div>
    </li>
</ul>