<div ng-include="'views/templates/menu.html'"></div>
<div class="container-fluid">
    <br>
    <section ng-hide="desafios.length == 0">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Que desafios você procura?" ng-model="search">
                <div class="input-group-addon"><span class="fa fa-search"></span></div>
            </div>
        </div>
        <div class="col-md-4"></div><br><br><br>
        <div class="container">
            <div class="alert alert-info text-center" ng-show="res.length == 0">
                Nenhum desafio encontrado!
            </div>
        </div>
    </section>
    <div class="container alert alert-info text-center" ng-show="desafios.length == 0" style="margin-top: 100px">
        Nenhum desafio disponível!
    </div>
    <div class="col-md-12">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="item in res = (desafios | filter: search)">
            <div class="offer offer-{{item.Config.classe}} animated fadeIn" ng-click="open('lg', item)" tooltip="Clique para comprar o desafio">
                <h3 class="lead text-center" style="margin-top: 10px; margin-bottom: 10px">
                    {{item.Titulo}}
                </h3>
                <div class="offer-content" style="background-color: #ffffff; padding-top: 5px">
                    <div class="text-center">
                        <span class="fa fa-star" style="color: #e0e0e0"></span>
                        <span class="fa fa-star" style="color: #e0e0e0"></span>
                        <span class="fa fa-star" style="color: #e0e0e0"></span>
                        <span class="fa fa-star" style="color: #e0e0e0"></span>
                        <span class="fa fa-star" style="color: #e0e0e0"></span> (0)
                    </div>
                    <hr style="margin-top: 3px; margin-bottom: 3px">
                    <small style="color: rgba(0, 0, 0, 0.56)">por 
                        <strong> {{item.Usuario.NomeExibicao}}</strong>
                    </small>
                    <p style="text-align: justify; min-height: 40px; max-height: 40px;">
                        {{item.Descricao | ellipsis:70}}
                    </p>
                </div>
                <div class="text-center" style="background-color: #f5f5f5;border-top: 1px solid #ddd">
                    <span class="fa fa-money" style="color: green"></span> {{item.Config.requisitos.creditosCobrados}} créditos |
                    <span class="fa fa-user" style="color: green"></span> {{item.Config.requisitos.classe}} (Nível {{item.Config.requisitos.nivel}}+)
                </div>
            </div>
        </div>

        <ul id="menu" class="mfb-component--br mfb-slidein-spring" data-mfb-toggle="click">
            <li class="mfb-component__wrap">
                <a href="" class="mfb-component__button--main" data-mfb-label="Criar um novo desafio" ng-click="abrirLink('index.html#!/novo-desafio')">
                    <i class="mfb-component__main-icon--resting ion-plus-round"></i>
                    <i class="mfb-component__main-icon--active ion-close-round"></i>
                </a>
            </li>
        </ul>
    </div>
</div>