<div ng-include="'views/templates/menu.html'"></div>
<ul id="menu" class="mfb-component--br mfb-slidein-spring" data-mfb-toggle="hover">
    <li class="mfb-component__wrap">
        <a href="" class="mfb-component__button--main">
            <i class="mfb-component__main-icon--resting ion-plus-round"></i>
            <i class="mfb-component__main-icon--active ion-edit"></i>
        </a>
        <ul class="mfb-component__list">
            <li>
                <a href="" data-mfb-label="Salvar" ng-click="atualizarDesafio(desafio)" class="mfb-component__button--child">
                    <i class="mfb-component__child-icon ion-android-upload"></i>
                </a>
            </li>
            <li>
                <a href="#!/gerenciar-meus-desafios" data-mfb-label="Voltar" class="mfb-component__button--child">
                    <i class="mfb-component__child-icon ion-chevron-left"></i>
                </a>
            </li>
        </ul>
    </li>
</ul>

<form id="formCadDesafio">
    <div class="row margem-basica">
        <div class="col-lg-4 bordaDireita">
            <div class="col-lg-12">
                <legend>Dados do Desafio</legend>
                <div class="form-group" id="titulo-group">
                    <label class="control-label">* Título do Desafio</label>
                    <input type="text" id="titulo" class="form-control" ng-model="desafio.Titulo" placeholder="Digite o título do desafio">
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="tagsDesafio">
                <div class="form-group" id="tags-group">
                    <label class="control-label">* Tags</label>
                    <tags-input ng-model="desafio.Tags" placeholder="Digite as tags" id="tags"></tags-input>
                    <p class="help-block">Digite e aperte ENTER para adicionar um item não presente na lista</p>
                </div>
            </div>
            <div class="col-lg-12">
                <label>Tempo Máximo para Resolução</label>
                <div class="input-group">
                    <input id="timepicker" type="text" class="form-control" ng-model="desafio.Tempo">
                    <span class="input-group-addon">
               		 <span class="fa fa-clock-o"></span>
                    </span>
                </div>
            </div>
            <div class="col-lg-12" style="margin-top: 10px">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group" id="entradas-desafio-group">
                            <label class="control-label">*Entradas</label>
                            <textarea rows="5" class="form-control" ng-model="desafio.Entradas.Valor" id="entradas-desafio"></textarea>
                            <!--<p class="help-block">A ordem que as entradas são inseridas deve ser a mesma da compilação do código.</p>-->
                            <p class="help-block">Cada linha é uma entrada que será compilada de acordo com ordem de inserção.</p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group" id="saidas-desafio-group">
                            <label class="control-label">*Saídas</label>
                            <textarea rows="5" class="form-control" ng-model="desafio.Saidas.Valor" id="saidas-desafio"></textarea>
                            <!--<p class="help-block">A ordem que as saídas são inseridas deve ser a mesma da compilação do código.</p>-->
                            <p class="help-block">Cada linha é uma saida que será compilada de acordo com ordem de inserção.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-8">
            <div class="col-lg-12">
                <label>* Nível de Dificuldade</label>
                <div class="input-group cursor-pointer">
                    <span class="input-group-addon offer-success" ng-click="setDificuldadeEditar(1)" style="border-bottom-left-radius: 0px;">
                        <input type="radio" name="Dificuldade" ng-model="desafio.Dificuldade" value="1">
                    </span>
                    <input type="text" class="form-control font-small offer-success-light cursor-pointer" value="Fundamentos da Força" ng-click="setDificuldadeEditar(1)" readonly/>
                    <span class="input-group-addon offer-primary" ng-click="setDificuldadeEditar(2)">
                   <input type="radio" name="Dificuldade" ng-model="desafio.Dificuldade" value="2">
                </span>
                    <input type="text" class="form-control font-small offer-primary-light cursor-pointer" value="Treinando com o Sabre de Luz" ng-click="setDificuldadeEditar(2)" style="width: 205px;" readonly/>
                    <span class="input-group-addon offer-warning" ng-click="setDificuldadeEditar(3)">
                    <input type="radio" name="Dificuldade" ng-model="desafio.Dificuldade" value="3">
                </span>
                    <input type="text" class="form-control font-small font-small offer-warning-light cursor-pointer" value="Dominando a Força" ng-click="setDificuldadeEditar(3)" readonly/>
                    <span class="input-group-addon offer-purple" ng-click="setDificuldadeEditar(4)">
                    <input type="radio" name="Dificuldade" ng-model="desafio.Dificuldade" value="4">
                </span>
                    <input type="text" class="form-control font-small font-small offer-purple-light cursor-pointer" value="Controlando Mentes" ng-click="setDificuldadeEditar(4)" readonly style="border-bottom-right-radius: 0px;" />
                </div>
            </div>
            <div class="col-lg-12" style="margin-bottom: 10px">
                <div class="offer-{{desafio.cssClass}}-light border-{{desafio.cssClass}}" ng-class="{'ajuda-block': ajuda}" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
                    <div ng-show="ajuda">
                        <div class="row">
                            <div class="col-lg-12" style="margin-left: 10px; height: 40px">{{ ajudaMsg }}</div>
                        </div>
                        <div class="row" style="margin-top: 10px; height: 115px">
                            <div class="col-xs-6 col-lg-6">
                                <label style="margin-left: 10px">O que pode ser usado:</label>
                                <ul>
                                    <li ng-repeat="item in ajudaItens">{{ item }}</li>
                                </ul>
                            </div>
                            <div class="col-xs-3 col-lg-3">
                                <label>Requisitos criação:</label>
                                <div class="row">
                                    <div class="col-xs-4 col-lg-6 text-center">
                                        <span class="fa fa-user" style="color: blue; font-size: 3em"></span>
                                        <br>
                                        <span>{{ajudaReqNivel}}</span>
                                    </div>
                                    <div class="col-xs-4 col-lg-6 text-center">
                                        <span class="fa fa-money" style="color: green; font-size: 3em"></span>
                                        <br>
                                        <span>{{ajudaReqCreditos}} créditos</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3 col-lg-3">
                                <label>Recompensas:</label>
                                <div class="row">
                                    <div class="col-xs-5 col-lg-6 text-center">
                                        <span class="fa fa-connectdevelop" style="color: blue; font-size: 3em"></span>
                                        <br>
                                        <span>{{ajudaRecDf}} DF (inicial)</span>
                                    </div>
                                    <div class="col-xs-5 col-lg-6 text-center">
                                        <span class="fa fa-money" style="color: green; font-size: 3em"></span>
                                        <br>
                                        <span>{{ajudaRecCreditos}} créditos (por venda)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-offset-11 col-lg-offset-11">
                        <small class="text-right cursor-pointer" style="color: #737373;" ng-click="ajuda=!ajuda">[{{ajuda ? "-" : "+"}} detalhes]</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group" id="descricao-group">
                    <label class="control-label">* Descrição Resumida</label>
                    <textarea id="descricao" class="form-control" maxlength="255" ng-model="desafio.Descricao" rows="5"></textarea>
                    <p class="help-block">Máx. 255 caractéres | Qtd. Caractéres digitados: {{desafio.Descricao.length}}</p>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group" id="enunciado-group">
                    <label class="control-label">* Enunciado do Desafio</label>
                    <summernote config="options" ng-model="desafio.Enunciado"></summernote>
                    <p class="help-block">Qtd. Caractéres digitados: {{desafio.Enunciado.length}}</p>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    <label class="control-label">Pré-Código</label>
                    <div style="border: 1px solid #b7b5b5;">
                        <ui-codemirror ui-codemirror ui-codemirror-opts="editorOptions" ui-refresh ng-model="desafio.PreCodigo"></ui-codemirror>
                    </div>
                    <p class="help-block">Máx. 4000 caractéres | Qtd. Caractéres digitados: {{desafio.PreCodigo.length}}</p>
                </div>
            </div>
        </div>
    </div>
</form>