<!DOCTYPE html>
<html ng-app="CodeLive">

<head lang="pt-br">
    <meta charset="UTF-8">
    <title>CodeLive</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="assets/img/jedi_order.png">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/cadastroDesafio.css">
    <link rel="stylesheet" href="assets/css/desafiosGrid.css">
    <link rel="stylesheet" href="assets/css/estilo_perfil.css">
    <link rel="stylesheet" href="assets/css/jasny-bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/cadastroDesafio.css">
    <link rel="stylesheet" href="assets/css/desafiosGrid.css">
    <link rel="stylesheet" href="assets/css/ionicons.css">
    <link rel="stylesheet" href="assets/css/mfb.css">
    <link rel="stylesheet" href="assets/css/jquery.growl.css">
    <link rel="stylesheet" href="assets/css/hover-min.css">
    <link rel="stylesheet" href="assets/css/summernote.css">
    <link rel="stylesheet" href="assets/css/sweetalert.min.css">
    <link rel="stylesheet" href="assets/css/codemirror.css">
    <link rel="stylesheet" href="assets/css/animate.css">
    <link rel="stylesheet" href="assets/css/animate.css">
    <link rel="stylesheet" href="assets/css/style-app.css">
    <link rel="stylesheet" href="/angular-loading-bar/build/loading-bar.min.css">
    <link rel="stylesheet" href="/bootstrap-timepicker/css/bootstrap-timepicker.min.css">
    <link rel="stylesheet" href="/ng-tags-input/build/ng-tags-input.css">
    <link rel="stylesheet" href="/ng-tags-input/build/ng-tags-input.bootstrap.css">

    <!-- Temas CodeMirror -->
    <link rel="stylesheet" href="assets/theme/ambiance.css">
    <link rel="stylesheet" href="assets/theme/cobalt.css">
    <link rel="stylesheet" href="assets/theme/dracula.css">
    <link rel="stylesheet" href="assets/theme/eclipse.css">
    <link rel="stylesheet" href="assets/theme/material.css">
    <link rel="stylesheet" href="assets/theme/mbo.css">
    <link rel="stylesheet" href="assets/theme/mdn-like.css">
    <link rel="stylesheet" href="assets/theme/neat.css">
    <link rel="stylesheet" href="assets/theme/rubyblue.css">
    <link rel="stylesheet" href="assets/theme/solarized.css">
    <link rel="stylesheet" href="assets/theme/twilight.css">
    <link rel="stylesheet" href="assets/theme/zenburn.css">
    <script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
</head>

<body>
    <div ng-include="'views/templates/menuAdm.html'"></div>
    <nav id="myNavmenu" class="navmenu navmenu-default navmenu-fixed-left offcanvas" role="navigation">
        <a class="navmenu-brand" href=""><span class="fa fa-3x fa-codepen"></span> Administrativo</a>
        <ul class="nav navmenu-nav">
            <li id="li-perfil"><a href="adm.html#!/login"><span class="fa fa-3x ion-person"></span> Usuarios</a></li>
            <li id="li-turmas"><a href="adm.html#!/turmas"><span class="fa fa-2x fa-cubes"></span> Turmas</a></li>
            <li id="li-turmas"><a href="adm.html#!/instancia"><span class="fa fa-2x fa-university"></span> Instância</a></li>
        </ul>
    </nav>

    <div class="container-fluid">
        <br>
        <section ng-hide="desafios.length == 0">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Que desafios você procura?" ng-model="search">
                    <div class="input-group-addon"><span class="fa fa-search"></span></div>
                </div>
            </div>
            <div class="col-md-4"></div><br><br><br>
            <div class="container">
                <div class="alert alert-info text-center" ng-show="res.length == 0">
                    Nenhum desafio encontrado!
                </div>
            </div>
        </section>
        <div class="container alert alert-info text-center" ng-show="desafios.length == 0" style="margin-top: 100px">
            Nenhum desafio disponível!
        </div>
        <div class="col-md-12">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="item in res = (desafios | filter: search)">
                <div class="offer offer-{{item.Config.classe}} animated fadeIn" ng-click="open('lg', item)" tooltip="Clique para comprar o desafio">
                    <h3 class="lead text-center" style="margin-top: 10px; margin-bottom: 10px">
                        {{item.Titulo}}
                    </h3>
                    <div class="offer-content" style="background-color: #ffffff; padding-top: 5px">
                        <div class="text-center">
                            <span class="fa fa-star" style="color: #e0e0e0"></span>
                            <span class="fa fa-star" style="color: #e0e0e0"></span>
                            <span class="fa fa-star" style="color: #e0e0e0"></span>
                            <span class="fa fa-star" style="color: #e0e0e0"></span>
                            <span class="fa fa-star" style="color: #e0e0e0"></span> (0)
                        </div>
                        <hr style="margin-top: 3px; margin-bottom: 3px">
                        <small style="color: rgba(0, 0, 0, 0.56)">por 
                        <strong> {{item.Usuario.NomeExibicao}}</strong>
                    </small>
                        <p style="text-align: justify; min-height: 40px; max-height: 40px;">
                            {{item.Descricao | ellipsis:70}}
                        </p>
                    </div>
                    <div class="text-center" style="background-color: #f5f5f5;border-top: 1px solid #ddd">
                        <span class="fa fa-money" style="color: green"></span> {{item.Config.requisitos.creditosCobrados}} créditos |
                        <span class="fa fa-user" style="color: green"></span> {{item.Config.requisitos.classe}} (Nível {{item.Config.requisitos.nivel}}+)
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script type="text/javascript" src="/angular/angular.min.js"></script>
<script type="text/javascript" src="/angular-messages/angular-messages.min.js"></script>
<script type="text/javascript" src="/angular-route/angular-route.min.js"></script>
<script type="text/javascript" src="assets/js/angular-timer.min.js"></script>
<script type="text/javascript" src="/angular-summernote/dist/angular-summernote.min.js"></script>
<script type="text/javascript" src="assets/js/ngStorage.min.js"></script>
<script type="text/javascript" src="/angular-loading-bar/build/loading-bar.min.js"></script>
<script type="text/javascript" src="assets/js/ui-bootstrap-tpls-0.12.1.min.js"></script>
<script type="text/javascript" src="assets/js/ion.sound.min.js"></script>
<script type="text/javascript" src="app.js"></script>
<script type="text/javascript" src="filters/filterDesafio.js"></script>
<script type="text/javascript" src="assets/js/ui-codemirror.js"></script>
<script type="text/javascript" src="/underscore/underscore-min.js"></script>

<!--Controllers-->
<script type="text/javascript" src="controllers/UsuarioCtrl.js"></script>
<script type="text/javascript" src="controllers/MenuCtrl.js"></script>
<script type="text/javascript" src="controllers/DesafioCtrl.js"></script>
<script type="text/javascript" src="controllers/ModalController.js"></script>
<script type="text/javascript" src="controllers/GerenciarMeusDesafiosCtrl.js"></script>
<script type="text/javascript" src="controllers/LoginCtrl.js"></script>
<script type="text/javascript" src="controllers/CadastroUsuarioCtrl.js"></script>
<script type="text/javascript" src="controllers/ResponderDesafioCtrl.js"></script>
<script type="text/javascript" src="controllers/CriarDesafioCtrl.js"></script>
<script type="text/javascript" src="controllers/EditarDesafioCtrl.js"></script>
<script type="text/javascript" src="controllers/AutorCtrl.js"></script>
<script type="text/javascript" src="controllers/DesafiosCompradosCtrl.js"></script>
<script type="text/javascript" src="controllers/TreinoCtrl.js"></script>


<!--Demais plugins-->
<script type="text/javascript" src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="assets/js/jasny-bootstrap.min.js"></script>
<script type="text/javascript" src="assets/js/moment.js"></script>
<script type="text/javascript" src="assets/js/humanize-duration.js"></script>
<script type="text/javascript" src="assets/js/mfb.js"></script>
<script type="text/javascript" src="assets/js/jquery.growl.js"></script>
<script type="text/javascript" src="assets/js/growl-notification.js"></script>
<script type="text/javascript" src="assets/js/menuLateral.js"></script>
<script type="text/javascript" src="assets/js/configDesafio.js"></script>
<script type="text/javascript" src="assets/js/summernote.min.js"></script>
<script type="text/javascript" src="assets/js/summernote-pt-BR.min.js"></script>
<script type="text/javascript" src="assets/js/sweetalert.min.js"></script>
<script type="text/javascript" src="/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
<script type="text/javascript" src="/ng-tags-input/build/ng-tags-input.min.js"></script>


<!--Scripts Interpretador Python-->
<script type="text/javascript" src="assets/js/editor/codemirror.js"></script>
<script type="text/javascript" src="assets/js/editor/python.js"></script>
<script type="text/javascript" src="assets/js/editor/matchbrackets.js"></script>
<script type="text/javascript" src="assets/js/editor/themes.js"></script>
<script type="text/javascript" src="assets/js/editor/skulpt.min.js"></script>
<script type="text/javascript" src="assets/js/editor/skulpt-stdlib.js"></script>
<script type="text/javascript" src="usuarios.json"></script>
<script type="text/javascript" src="conquistas.json"></script>
<script>
    socket.on('novoUsuarioLogado', function(msg) {
        if (localStorage.getItem('logged') == 'true') {
            notification('info', 'AVISO', msg);
        }
    });
    socket.on('novoDesafio', function(msg) {
        if (localStorage.getItem('logged') == 'true') {
            notification('sucesso', 'SUCESSO', msg);
        }
    });
    socket.on('meuDesafioRespondido', function(msg) {
        if (localStorage.getItem('logged') == 'true') {
            notification('info', 'AVISO', msg);
        }
    });
</script>

</html>