.info-perfil{			
	-moz-box-sizing: border-box;
	background: none repeat scroll 0 0 #FFFFFF;
	border-radius: 0 0 0 0;
	box-shadow: 1px 1px 5px #888888;
	margin: 0 auto;
	width: 600px;
	height: 480px;
	opacity: 0.88;
	margin-top: 40px;
	border-radius: 6px;
}

.border{
	border-width: 6px;
	border-style: solid;
	border-color: #F5F5F5;
	border-radius: 50%;
	box-shadow: 1px 1px 1px #888888;
}

.img-responsive{
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	background-image: url(../img/slide/img6.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #464646;	
	width: 600px;
	height: 300px;
}