.CodeMirror {
    height: 601px;
}

.img-avatar {
    border-radius: 50%;
    margin-top: 5px;
    border: 2px solid #ccc;
    background-color: #fff;
}

#conteudo {
    background-color: #DCDCDC;
    height: 600px;
    position: relative;
    box-shadow: rgba(34, 34, 34, 0.247059) 0px 2px 1px 0px;
}

.quadro-descricao {
    background-color: #ffffff;
    margin-left: 29px;
    padding: 1px;
    text-align: justify;
    border-top-left-radius: 30px;
}

.texto-descricao {
    height: 480px;
    word-break: break-word;
    overflow: auto;
}

div::-webkit-scrollbar {
    width: 8px;
    margin-left: 10;
}

div::-webkit-scrollbar-track-piece {
    background: #eee;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

div::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.img-conquista {
    opacity: 0.3;
}

#loading-bar .bar {
    background-color: red!important;
}

.btn-sair {
    color: #ffffff;
}

.btn-sair:hover {
    color: #708090;
}