<div ng-include="'views/slide.html'"></div>
<link rel="stylesheet" href="assets/css/style.css">
<div class="container">
    <div class="login">
        <form name="formLogin">
            <h1><span class="fa fa-codepen"></span> CodeLive </h1>
            <div id="verificacao"></div>
            <div class="form-group has-feedback">
                <input type="text" placeholder="Digite seu nome de exibição" name="NomeExibicao" ng-model="usuario.NomeExibicao" ng-required="true">
                <span class="glyphicon glyphicon-user form-control-feedback" style="margin-top: 5px; color: #2e89f7; width: 50px"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" placeholder="Digite sua senha" name="Senha" ng-model="usuario.Senha" ng-required="true">
                <span class="glyphicon glyphicon-lock form-control-feedback" style="margin-top: 5px; color: #2e89f7;"></span>
            </div>
            <div class="row" style="text-align: center">
                <button style="width: 50%" class="btn btn-primary" type="submit" ng-click="login(usuario)" ng-disabled="!usuario.NomeExibicao || !usuario.Senha">
					Entrar
				</button>
                <a href="index.html#!/cadastro" style="width: 41%" class="btn btn-default">Crie sua conta</a>
            </div>
            <span style="margin-top: 10px; font-size: 12px">
                <a href="" data-toggle="modal" data-target="#modalRecuperarSenha">Esqueceu sua senha?</a>
                          </span>
        </form>
    </div>
</div>

<div class="modal fade" id="modalRecuperarSenha" ng-controller="LoginCtrl">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title text-center">Recuperar senha</h4>
            </div>
            <div class="modal-body">
                <input type="email" class="form-control" placeholder="Digite o e-mail cadastrado no CodeLive" ng-model="emailUsuario">
            </div>
            <div class="modal-footer">
                <img ng-src="assets/img/loading.gif" alt="" width="30" class="pull-left" ng-model="wainSolicitation" ng-show="wainSolicitation">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" ng-disabled="!emailUsuario" ng-click="recuperarSenha();">Solicitar</button>
            </div>
        </div>
    </div>
</div>