<style>
	ul li {
		list-style-type: none;
	}
</style>
<ul class="cb-slideshow">
	<li><span></span><div><h3></h3></div></li>
	<li><span></span><div><h3></h3></div></li>
	<li><span></span><div><h3></h3></div></li>
	<li><span></span><div><h3></h3></div></li>
	<li><span></span><div><h3></h3></div></li>
</ul>